USE [master]
GO
/****** Object:  Database [SQEx]    Script Date: 23.06.2023 10:46:00 ******/
CREATE DATABASE [SQEx]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SQEx', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SQEx.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SQEx_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SQEx_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SQEx].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SQEx]
GO
/****** Object:  Table [dbo].[Active]    Script Date: 23.06.2023 10:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Active](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[active] [text] NOT NULL,
	[day] [int] NOT NULL,
	[timestart] [text] NOT NULL,
	[moderator] [int] NOT NULL,
	[juri1] [int] NULL,
	[juri2] [int] NULL,
	[juri3] [int] NULL,
	[juri4] [int] NULL,
	[juri5] [int] NULL,
	[event_res_id] [int] NOT NULL,
 CONSTRAINT [PK_Active] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citys]    Script Date: 23.06.2023 10:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citys](
	[id] [int] NOT NULL,
	[name] [text] NOT NULL,
 CONSTRAINT [PK_Citys] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 23.06.2023 10:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[id] [int] NOT NULL,
	[Name_country] [text] NOT NULL,
	[Eng_name_country] [text] NOT NULL,
	[Code] [varchar](50) NOT NULL,
	[Code2] [int] NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event_res]    Script Date: 23.06.2023 10:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event_res](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[event] [int] NOT NULL,
	[datestart] [date] NOT NULL,
	[days] [int] NOT NULL,
	[winner] [int] NOT NULL,
 CONSTRAINT [PK_Event_res] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 23.06.2023 10:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](max) NOT NULL,
	[date] [date] NOT NULL,
	[days] [int] NOT NULL,
	[city] [int] NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 23.06.2023 10:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 23.06.2023 10:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 23.06.2023 10:46:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [varchar](max) NOT NULL,
	[mail] [varchar](max) NOT NULL,
	[gender] [int] NOT NULL,
	[country_id] [int] NOT NULL,
	[birthday] [date] NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[photo] [varchar](50) NOT NULL,
	[direction] [text] NULL,
	[event] [text] NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Active] ON 

INSERT [dbo].[Active] ([id], [active], [day], [timestart], [moderator], [juri1], [juri2], [juri3], [juri4], [juri5], [event_res_id]) VALUES (1, N'Сильный бизнес-тренер', 1, N'9:00', 31, 18, 11, 14, 12, 18, 1)
INSERT [dbo].[Active] ([id], [active], [day], [timestart], [moderator], [juri1], [juri2], [juri3], [juri4], [juri5], [event_res_id]) VALUES (2, N'Анализ и моделироавние бизнес-процессов', 2, N'10:45', 32, 19, 12, 15, 13, 19, 1)
INSERT [dbo].[Active] ([id], [active], [day], [timestart], [moderator], [juri1], [juri2], [juri3], [juri4], [juri5], [event_res_id]) VALUES (3, N'Сила лидера', 2, N'12:30', 33, 20, 13, 16, 14, 20, 1)
SET IDENTITY_INSERT [dbo].[Active] OFF
GO
INSERT [dbo].[Citys] ([id], [name]) VALUES (1, N'Абаза')
INSERT [dbo].[Citys] ([id], [name]) VALUES (2, N'Абакан')
INSERT [dbo].[Citys] ([id], [name]) VALUES (3, N'Абдулино')
GO
INSERT [dbo].[Country] ([id], [Name_country], [Eng_name_country], [Code], [Code2]) VALUES (1, N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[Country] ([id], [Name_country], [Eng_name_country], [Code], [Code2]) VALUES (2, N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[Country] ([id], [Name_country], [Eng_name_country], [Code], [Code2]) VALUES (3, N'Австрия', N'Austria', N'AT', 40)
GO
SET IDENTITY_INSERT [dbo].[Event_res] ON 

INSERT [dbo].[Event_res] ([id], [event], [datestart], [days], [winner]) VALUES (1, 21, CAST(N'2022-03-23' AS Date), 2, 52)
INSERT [dbo].[Event_res] ([id], [event], [datestart], [days], [winner]) VALUES (2, 22, CAST(N'2022-03-30' AS Date), 2, 56)
INSERT [dbo].[Event_res] ([id], [event], [datestart], [days], [winner]) VALUES (3, 29, CAST(N'2022-04-29' AS Date), 3, 53)
SET IDENTITY_INSERT [dbo].[Event_res] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([id], [title], [date], [days], [city]) VALUES (1, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', CAST(N'2022-10-26' AS Date), 1, 34)
INSERT [dbo].[Events] ([id], [title], [date], [days], [city]) VALUES (2, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', CAST(N'2022-07-14' AS Date), 3, 34)
INSERT [dbo].[Events] ([id], [title], [date], [days], [city]) VALUES (3, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09' AS Date), 2, 2)
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
INSERT [dbo].[Gender] ([id], [Name]) VALUES (1, N'мужской')
INSERT [dbo].[Gender] ([id], [Name]) VALUES (2, N'женский')
GO
INSERT [dbo].[Roles] ([id], [Name]) VALUES (1, N'Модератор')
INSERT [dbo].[Roles] ([id], [Name]) VALUES (2, N'Жюри')
INSERT [dbo].[Roles] ([id], [Name]) VALUES (3, N'Организатор')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [FIO], [mail], [gender], [country_id], [birthday], [phone], [password], [photo], [direction], [event], [role_id]) VALUES (1, N'Смирнова Варвара Васильевна', N'ja1m6ekwls0x@mail.com', 2, 74, CAST(N'1996-11-13' AS Date), N'73369449615', N'Gm87XHb56b', N'foto1.jpg', N'', N'', 3)
INSERT [dbo].[Users] ([id], [FIO], [mail], [gender], [country_id], [birthday], [phone], [password], [photo], [direction], [event], [role_id]) VALUES (2, N'Киселев Марк Вячеславович', N'jn8s3ao96et5@yahoo.com', 1, 5, CAST(N'1993-03-19' AS Date), N'70362243903', N'XzKSt947y2', N'foto2.jpg', N'', N'', 3)
INSERT [dbo].[Users] ([id], [FIO], [mail], [gender], [country_id], [birthday], [phone], [password], [photo], [direction], [event], [role_id]) VALUES (3, N'Гаврилова Екатерина Давидовна', N'874gri1p0cte@mail.com', 1, 97, CAST(N'1963-02-09' AS Date), N'73409270193', N'7XyP3i72dU', N'foto3.jpg', N'', N'', 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Active]  WITH CHECK ADD  CONSTRAINT [FK_Active_Event_res] FOREIGN KEY([event_res_id])
REFERENCES [dbo].[Event_res] ([id])
GO
ALTER TABLE [dbo].[Active] CHECK CONSTRAINT [FK_Active_Event_res]
GO
ALTER TABLE [dbo].[Active]  WITH CHECK ADD  CONSTRAINT [FK_Active_Users] FOREIGN KEY([moderator])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Active] CHECK CONSTRAINT [FK_Active_Users]
GO
ALTER TABLE [dbo].[Active]  WITH CHECK ADD  CONSTRAINT [FK_Active_Users1] FOREIGN KEY([juri1])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Active] CHECK CONSTRAINT [FK_Active_Users1]
GO
ALTER TABLE [dbo].[Active]  WITH CHECK ADD  CONSTRAINT [FK_Active_Users2] FOREIGN KEY([juri2])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Active] CHECK CONSTRAINT [FK_Active_Users2]
GO
ALTER TABLE [dbo].[Active]  WITH CHECK ADD  CONSTRAINT [FK_Active_Users3] FOREIGN KEY([juri3])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Active] CHECK CONSTRAINT [FK_Active_Users3]
GO
ALTER TABLE [dbo].[Active]  WITH CHECK ADD  CONSTRAINT [FK_Active_Users4] FOREIGN KEY([juri4])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Active] CHECK CONSTRAINT [FK_Active_Users4]
GO
ALTER TABLE [dbo].[Active]  WITH CHECK ADD  CONSTRAINT [FK_Active_Users5] FOREIGN KEY([juri5])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Active] CHECK CONSTRAINT [FK_Active_Users5]
GO
ALTER TABLE [dbo].[Event_res]  WITH CHECK ADD  CONSTRAINT [FK_Event_res_Events] FOREIGN KEY([event])
REFERENCES [dbo].[Events] ([id])
GO
ALTER TABLE [dbo].[Event_res] CHECK CONSTRAINT [FK_Event_res_Events]
GO
ALTER TABLE [dbo].[Event_res]  WITH CHECK ADD  CONSTRAINT [FK_Event_res_Users] FOREIGN KEY([winner])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Event_res] CHECK CONSTRAINT [FK_Event_res_Users]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Citys] FOREIGN KEY([city])
REFERENCES [dbo].[Citys] ([id])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Citys]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Gender] FOREIGN KEY([gender])
REFERENCES [dbo].[Gender] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Gender]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
USE [master]
GO
